<div class="card-header form-row">
    <%= form_with url: water_billings_path, method: :get, data: {turbo_frame: "water_bill_search"} do |form| %>
        <div class="card-header form-row">
            <div class="row">
                <%= form.hidden_field :subdivision_id , {value: params["subdivision_id"]} %>
                <div class="col">
                    <%= form.label :year_list, "Year:" %>
                    <%= form.select :year_list, year_list, {}, {class:"form-control"}%>
                </div>
                <div class="col">
                    <%= form.label :month, "Month:" %>
                    <%= form.select :month, month_list, {}, {class:"form-control"}%>
                </div>
                <div class="col">
                    <%= form.label :status, "Status:" %>
                    <%= form.select :status, status_list, {}, {class:"form-control"}%>
                </div>
                <%= form.submit "Search", {class:"btn btn-primary"} %>
                
            </div>
        </div>
    <% end %>
</div>
<br>