
<%= turbo_frame_tag 'residence', target:"_top" do %>
  <div class="card text-center overflow-auto">
    <%= turbo_frame_tag 'user_table', data: {turbo_frame: "_top", remote:"true"} do %>
      <table id="users" class="table table-bordered">
          <thead class="thead-inverse|thead-default">
            <tr>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Block</th>
              <th>Lot</th>
              <th>Street</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% @residence.each do |user| %>
            <tr>
              <td><%= user.first_name&.titleize%></td>
              <td><%=user.middle_name&.titleize %></td>
              <td><%=user.last_name&.titleize %></td>
              <td><%= user&.block%></td>
              <td><%=user&.lot %></td>
              <td><%=user&.street %></td>
              <td>
              </td>
            </tr>
          <% end %>
          </tbody>
      </table>
    <% end %>
  </div>
<% end %>