<div id="<%= dom_id address %>">
  <p>
    <strong>Block:</strong>
    <%= address.block %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= address.lot %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>User:</strong>
    <%= address.user %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= address.subdivision %>
  </p>

</div>
