<div id="<%= dom_id water_billing_transaction %>">
  <p>
    <strong>Current reading:</strong>
    <%= water_billing_transaction.current_reading %>
  </p>

  <p>
    <strong>Previous reading:</strong>
    <%= water_billing_transaction.previous_reading %>
  </p>

  <p>
    <strong>User:</strong>
    <%= water_billing_transaction.user_id %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= water_billing_transaction.subdivision_id %>
  </p>

  <p>
    <strong>Water billing:</strong>
    <%= water_billing_transaction.water_billing_id %>
  </p>

</div>
