<div class="card text-center">
    <%= turbo_frame_tag 'water_bill_table', data: {turbo_frame: "_top", remote:"true"} do %>
        <div class="card-header form-row">
                <%= form_with url: water_billing_subdivision_path, method: :get do |form| %>
                    <div class="row">
                        <div class="col">
                            <%= form.label :sort_by, "Sort By:" %>
                            <%= form.select :sort_by, sort_column, {}, {class:"form-control"}%>
                        </div>
                        <div class="col">
                            <%= form.label :year_list, "Year:" %>
                            <%= form.select :year_list, year_list, {}, {class:"form-control"}%>
                        </div>
                        <div class="col">
                            <%= form.label :month, "Month:" %>
                            <%= form.select :month, month_list, {}, {class:"form-control"}%>
                        </div>
                        <div class="col">
                            <%= form.label :status, "Status:" %>
                            <%= form.select :status, status_list, {}, {class:"form-control"}%>
                        </div>
                        <%= form.submit "Search", {class:"btn btn-primary"} %>

                    </div>
                <% end %>
                <br>
                <div class="row">
                    <!-- Button trigger modal -->
                    
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newMotherBill">
                    Add New Bill
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="newMotherBill" tabindex="-1" aria-labelledby="newMotherBillLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="newMotherBillLabel">Water Billing</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <%= form_with(model: water_billing, url: water_billings_path, method: :post) do |form| %>
                                        <div class="row">
                                            <div class="col">
                                                <%= form.label :mother_meter_current_reading, "Current Reading:" %>
                                                <%= form.number_field :mother_meter_current_reading , {class:"form-control", placeholder:"Current Reading"} %>
                                                <%= form.hidden_field :subdivision_id, value: params[:id] %>
                                            </div>
                                            <div class="col">
                                                <%= form.label :year, "Year:" %>
                                                <%= form.select :year, year_list, {}, {class:"form-control"}%>
                                            </div>
                                            <div class="col">
                                                <%= form.label :month, "Month:" %>
                                                <%= form.select :month, month_list, {}, {class:"form-control"}%>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <%= form.submit "Submit", {class:"btn btn-primary"} %>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="card-body overflow-scroll">
            
                <table class="table table-sm table-bordered table-hover table-inverse table-responsive  table-striped">
                    <thead class="thead-inverse|thead-default">
                        <tr>
                            <th  class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                MONTH
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                CURRENT READING
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                PREVIOUS READING
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                CONSUMPTION
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                PRICE PER CUBIC
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                BILL AMOUNT
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                METER IMAGE
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                RECIEPT IMAGE
                            </th>
                            <th class="text-left py-3 px-6 uppercase font-semibold text-sm hover:cursor-pointer">
                                STATUS
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                            <% transaction.each do |bill| %>
                                <tr>
                                    <td><%=Date::MONTHNAMES[bill.month]%></td>
                                    <td><%=bill.mother_meter_current_reading %></td>
                                    <td><%=bill.mother_meter_previous_reading %></td>
                                    <td><%=bill.consumption %></td>
                                    <td><%=bill.per_cubic_price %></td>
                                    <td><%=bill.bill_amount %></td>
                                    <td><%=bill.meter_image_link %></td>
                                    <td><%=bill.reciept_image_link %></td>
                                    <td><%=bill.is_paid%></td>
                                </tr>
                            <% end %>
                    </tbody>
                </table>
                <div class="pag-bar mt-5 pt-5">
                        <%== pagy_bootstrap_nav(@pagy) %>
                </div>
        </div>

      
    <% end %>
</div>