<div id="<%= dom_id monthly_due_transaction %>">
  <p>
    <strong>User:</strong>
    <%= monthly_due_transaction.user_id %>
  </p>

  <p>
    <strong>Monthly due:</strong>
    <%= monthly_due_transaction.monthly_due_id %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= monthly_due_transaction.subdivision_id %>
  </p>

  <p>
    <strong>Is paid:</strong>
    <%= monthly_due_transaction.is_paid %>
  </p>

</div>
